.interests {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  gap: 20px;
}

.interests-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
}

.interests-list-item {
  background-color: gray;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
}

.skills-list-item {
  background-color: gray;
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}
